body {
    margin: 0;
    height: 100%;
}

section {
    margin: 1rem 1rem 6rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

table,
th,
td {
    border: 0.2rem solid #9f5302;
    text-align: center;
}

table {
    margin: 0.5rem;
    line-height: 1.5rem;
    width: 50%;
    position: relative;
    border-collapse: collapse;
    max-height: 300px;
    overflow-y: auto;
}

th,
td {
    padding: 0 2rem;
}

td {
    background-color: #ffa504;
    font-size: 1rem;
    font-weight: bold;
}

thead th {
    color: #ffffff;
    background-color: #702901;
}

header {
    background-color: #400000;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 0 0 0.5rem 0.5rem;
}

header div {
    width: 6rem;
    padding-right: 1rem;
}

header div img {
    width: 4rem;
    height: 4rem;
}

h1 {
    font-weight: bolder;
    color: white;
    padding-left: 1rem;
}

img {
    width: 1.5rem;
    height: 1.5rem;
}

button {
    display: flex;
    width: 4rem;
    height: 4rem;
    background-color: #cf7c03;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-bottom: 0.2rem solid #9f5302;
}

#bgModal {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

form {
    background-color: #fba726;
    position: fixed;
    height: 18rem;
    width: 15rem;
    padding: 0.5rem;
    left: 36%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    border-radius: 0.5rem;
    box-shadow: 0 2rem 4rem 0 rgba(179, 179, 179, 0.27);
}

p {
    color: white;
    font-weight: bolder;
}

footer {
    width: 98%;
    padding: 1rem;
    margin-top: 1rem;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #400000;
    border-radius: 0.5rem 0.5rem 0 0;
}

a {
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bolder;
}

#pageInitial img {
    width: 3rem;
    height: 3rem;
}

input {
    margin-bottom: 0.8rem;
    border-radius: 0.4rem;
    border: 0.1rem solid black;
    padding: 0.4rem;
}

input:focus {
    outline: none;
}

label {
    font-weight: bolder;
}

#btnModalUpdate {
    width: 20%;
    background-color: black;
    color: #ffffff;
    font-size: 1.5rem;
    height: 2rem;
    transition: all 0.5s;
}

#btnModalUpdate:hover {
    background-color: #4d4d4d;
    color: #040404;
    border-radius: 1rem;
}

#btnRemoveFormAndModal {
    position: absolute;
    right: 4%;
    width: 1.5rem;
    top: 1%;
    text-align: center;
    background-color: #030303;
    border-radius: 1rem;
    color: #ffffff;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.5s;
}

#registerProd {
    background-color: #ecac5b;
    color: #000000;
    width: 9rem;
    border-radius: 0.5rem;
    height: 4rem;
    font-weight: bold;
    font-size: 1rem;
    position: fixed;
    left: 66%;
}

h1,
p {
    color: #78a2d2;
}